{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="author" content="Daniel Augusto">
    <meta name="description" content="User registration page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
</head>
<body>
   <div class="user-icon">
        <img src="https://img.icons8.com/material-outlined/96/000000/user--v1.png"/>
    </div>
    <form id="form-sign-up" method="POST" action="#">
        <fieldset>
            <legend>Personal Informations</legend>
            <div class="names-left-align">
                <label>
                    <span class="label-title">First Name</span>
                    <input type="text" name="first_name" placeholder="Required: First Name" autofocus required>
                </label>

                <label>
                    <span class="label-title">Last Name</span>
                    <input type="text" name="last_name" placeholder="Optional: Last Name">
                </label>
            </div>

            <label class="label-birthday">
                <span class="label-title">Birthday</span><br>
                <input class="input-birthday" type="date" name="date" placeholder="dd-mm-yyyy">
            </label>

            <span class="sex-title">Sex</span>
            <div class="sex-options">
                <label class="label-sex">
                        <span class="break"><input type="radio" name="sex" value="Male">Male</span>
                        <span class="break"><input type="radio" name="sex" value="Female">Female</span>
                        <span class="break"><input type="radio" name="sex" value="Non-binary">Non-binary</span>
                </label>
            </div>
        </fieldset>
        <hr>
    </form>
</body>
</html>
