{% extends 'core.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>Update {{ object }}</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-outline-danger">Update</button>
                <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'students' %}">Home Page</a>
                </button>
            {% endbuttons %}

    </form>
{% endblock %}
